<template>
  <div id="home" class="hentry">
    <h1>Welcome To the Hall of Game</h1>
    <p>
      Morbi ultrices neque nulla, quis vulputate lectus facilisis eu. Vivamus
      lacus justo, sagittis vel nisi quis, varius sollicitudin quam. Fusce
      varius sagittis nibh, non suscipit ante ultrices et. Nulla at ornare nibh.
      Pellentesque eget magna finibus, lobortis lacus nec, dictum quam.
      Vestibulum auctor, arcu egestas consectetur imperdiet, augue ipsum
      condimentum metus, a laoreet orci massa et erat. Vestibulum commodo
      accumsan risus et commodo. Suspendisse felis est, sagittis eu ex eget,
      tristique elementum eros. Curabitur cursus interdum erat sit amet
      bibendum. Vivamus ornare porta tortor. Quisque efficitur dolor at ligula
      venenatis, in aliquam urna sollicitudin. Vestibulum ante ipsum primis in
      faucibus orci luctus et ultrices posuere cubilia curae; Sed euismod, mi
      aliquet rhoncus scelerisque, nisl augue vulputate nulla, quis tincidunt
      dui velit vel augue. Ut in mattis ante, vel congue nisi. Duis ut tempor
      sem, at viverra sem.
    </p>
    <img src="https://picsum.photos/780/300" />
    <p>
      Aliquam nec malesuada urna. Maecenas ornare tempor odio, nec pharetra
      ipsum bibendum eu. Sed egestas mauris id suscipit malesuada. In fermentum
      quam vitae facilisis faucibus. Praesent enim turpis, posuere in nisi a,
      imperdiet placerat turpis. Nulla eget mollis mi, molestie lobortis ipsum.
      In hac habitasse platea dictumst. Quisque tellus tortor, auctor id mi non,
      aliquam egestas massa. Vestibulum ante ipsum primis in faucibus orci
      luctus et ultrices posuere cubilia curae; Aenean euismod enim consectetur
      nisl sodales tincidunt. Nullam dictum et diam eu fringilla. Donec vel
      pellentesque nisi, sit amet lobortis ligula. Sed laoreet ligula ut ante
      lacinia, ut viverra urna venenatis. Nunc dapibus sit amet leo vel
      suscipit.
    </p>
  </div>
</template>
