<template>
  <section id="player-details" class="hentry">
    <h1>{{ aboutWho }}</h1>
    <div id="new-player">
      <PlayerForm :data=this.player @validForm="updatePlayer($event)" />
    </div>
  </section>
</template>

<script>
import PlayerDataService from "../services/PlayerDataService";
import PlayerForm from "../components/PlayerForm.vue";
export default {
  name: "Player",
  components: {
    PlayerForm
  },
  data() {
    return {
      player: {
        FirstName: "",
        LastName: "",
        Birthday: "",
      },
    };
  },
  methods: {
    getPlayer(id) {
      PlayerDataService.get(id)
        .then((response) => {
          this.player = response.data.player;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    updatePlayer(player) {
      PlayerDataService.update(player)
      .then((response) => {
        console.log(response.data.message);
      })
      .catch((e) => {
        console.log(e);
      })
    }
  },
  computed: {
    aboutWho() {
      if(this.player.FirstName && this.player.LastName !== "" ) {
        return `About ${this.player.FirstName} ${this.player.LastName}`
      }
      return "Oups, someting goes wrong with this player..."
    },
  },
  mounted() {
    this.getPlayer(this.$route.params.id);
  },
};
</script>