<template>
  <div id="players" class="hentry">
    <h1>Awesome player's list</h1>
    
    <div id="player-register" v-if="players.length === 0">
      <p>No player registered yet.</p>
    </div>
    <PlayersList :data=players v-else />
    
    <h2>Register a new player</h2>
    <PlayerForm :data=this.newPlayer @validForm="createPlayer($event)" />
  </div>
</template>

<script>
import PlayerDataService from "../services/PlayerDataService";
import PlayersList from "../components/PlayersList.vue";
import PlayerForm from "../components/PlayerForm.vue";
export default {
  name: "Players",
  components: {
    PlayersList,
    PlayerForm
  },
  data() {
    return {
      players: [],
      newPlayer: {
        FirstName: "",
        LastName: "",
        Birthday: "",
      }
    };
  },
  methods: {
    fetchPlayers() {
      PlayerDataService.getAll()
        .then((response) => {
          this.players = response.data.players;
          console.log(response.data.message);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    createPlayer(player) {
      PlayerDataService.create(player)
      .then((response => {
        this.players.push(player);
        console.log(response.data.message);
      }))
      .catch((e => {
        console.log(e);
      }))
    },
  },
  mounted() {
    this.fetchPlayers();
  },
};
</script>