<template>
  <div id="header" class="p-6">
    <ul id="nav" class="flex justify-center">
      <li><router-link to="/" class="text-blue-500 hover:text-blue-800">Home</router-link><span class="divider mx-2"> | </span></li>
      <li><router-link to="/about" class="text-blue-500 hover:text-blue-800">About</router-link><span class="divider mx-2"> | </span></li>
      <li><router-link to="/players" class="text-blue-500 hover:text-blue-800">Players</router-link></li>
    </ul>
    <img id="logo" class="mx-auto" alt="Vue logo" src="../assets/logo.png" />
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>