<template>
  <table class="items-center shadow bg-transparent w-full mb-6">
      <thead>
          <tr>
              <th class="p-3 uppercase align-middle border border-solid border-l-0 border-r-0">Firstname</th>
              <th class="p-3 uppercase align-middle border border-solid border-l-0 border-r-0">Lastname</th>
              <th class="p-3 uppercase align-middle border border-solid border-l-0 border-r-0 text-right">Birthday</th>
              <th class="p-3 uppercase align-middle border border-solid border-l-0 border-r-0 text-right">Registered</th>
              <th class="p-3 uppercase align-middle border border-solid border-l-0 border-r-0"></th>
              <th class="p-3 uppercase align-middle border border-solid border-l-0 border-r-0"></th>
          </tr>
      </thead>
      <tbody>
          <tr v-for="player in data" v-bind:key="player.ID">
              <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3">{{ player.FirstName }}</td>
              <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3">{{ player.LastName }}</td>
              <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3 text-right">{{ printDate(player.Birthday) }}</td>
              <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3 text-right">{{ printDate(player.CreatedAt) }}</td>
              <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3">
              <router-link
                  :to="{ name: 'player-details', params: { id: player.ID } }"
                  class="p-2 pl-5 pr-5 bg-blue-500 text-gray-100 text-xs rounded-sm focus:border-4 border-blue-300"
                  >Detail</router-link
              >
              </td>
              <td class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3">
              <button class="p-2 pl-5 pr-5 bg-red-500 text-gray-100 text-xs rounded-sm focus:border-4 border-red-300" @click="removePlayer(player.ID)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</template>

<script>
import DateFormat from "../utils/DateFormat";
import PlayerDataService from "../services/PlayerDataService";
export default {
  name: "PlayersList",
  props: ['data'],
  methods: {
    removePlayer(id) {
      for(let i = 0; i < this.data.length; i++) {
        if(id === this.data[i].ID) {
          PlayerDataService.remove(this.data[i])
          .then((response) => {
            console.log(response.data.message);
            this.data.splice(i, 1);
          })
          .catch((e) => {
            console.log(e)
          })
        }
      }
    },
    printDate(date) {
      return DateFormat.getRedeableDate(date);
    }
  }
}
</script>
