<template>
    <div id="player-form" class="justify-center items-center shadow rounded-lg bg-white p-6 flex flex-col m-auto">
      <div class="w-full text-left">
        <label for="firstname">FirstName</label><br/>
        <input type="text" v-model="data.FirstName" class="h-10 border border-gray-200 rounded-r-lg outline-none focus:ring-1 ring-blue-300 w-full pl-1" name="firstname" />
        <br/><br/>
      </div>
      <div class="w-full text-left">
        <label for="lastname">Lastname</label><br/>
        <input type="text" v-model="data.LastName" class="h-10 border border-gray-200 rounded-r-lg outline-none focus:ring-1 ring-blue-300 w-full pl-1" name="lastname" />
        <br/><br/>
      </div>
      <div class="w-full text-left">
        <label for="birthday">Birthday</label><br/>
        <input type="date" v-model="birthday" class="h-10 border border-gray-200 rounded-r-lg outline-none focus:ring-1 ring-blue-300 w-full pl-1" name="birthday" />
        <br/><br/>
      </div>
      <button class="px-4 py-2 rounded bg-blue-400 text-white hover:bg-blue-700 my-4 w-full" @click="validForm">Register</button>
    </div>
</template>

<script>
import DateFormat from "../utils/DateFormat";
export default {
  name: "PlayerForm",
  props: ['data'],
  data() {
    return {
      player: {
          FirstName: "",
          LastName: "",
          Birthday: "",
      },
    };
  },
  methods: {
    validForm() {
      this.$emit('validForm', this.data);
    }
  },
  computed: {
    birthday: {
      get() {
        return DateFormat.getInputDate(this.data.Birthday);        
      },
      set(date) {
        this.data.Birthday = date
        return this.data.Birthday
      }
    },
  },
};
</script>
